
.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: black;
}

/*.tree-cell:expanded > .tree-disclosure-node > .arrow {*/
    /*-fx-background-color: blue;*/
/*}*/

/* Related to question asked in the comments by OP */
/*.tree-cell > .tree-disclosure-node > .arrow {*/
    /*-fx-shape: "M 0 0 L 10 5 L 0 10 L 0 8 L 8 5 L 0 2 Z";*/
/*}*/

/*思维导图静态显示的样式*/
.idea-widget-label {
    -fx-wrap-text: true;
}

/*导图里面的文本编辑框*/
.idea-widget-editor {
    -fx-wrap-text: true;
}
.idea-widget-editor .scroll-pane {
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}
.idea-widget-editor .content {
    -fx-padding: 0,0,0,0;
    -fx-background-color: transparent, white, transparent, white;
}
.idea-widget-editor:focused {
    -fx-background-color: transparent, white, transparent, white;
}